{% load static %}
{% load markdown_extras %}


<!DOCTYPE html>
<html>
<head>
    <title>Sobre mi</title>
</head>
<body>
    <h3>Informacion sobre mi</h3>
    <p>Mi nombre es Leandro Liset, tengo 29 años y soy nuevo en esto del mundo de la programacion, he hecho varias cosas en mi vida, desde trabajar en una empresa constructora, estudiar derecho y ultimamente dedicarme a los deportes electronicos.
        Me fue bastante bien esto ultimo, pero decidi tomarme un tiempo. La realidad es que me dieron ganas,
    de conocer un poco mas del mundo de la programacion, siempre estoy tratando de buscar nuevas herramientas para mi vida y me parecio que esta era una muy buena opcion. Siento que este es un ambiente lleno de cosas para aprender, tambien es bastante dificil he de reconocer, pero creo que con paciencia
    y un poco de buena voluntad puedo llegar a agarrarle la mano, aunque sea a alguno de los tantos lenguajes que existen.
        </p>

        <p>Gracias por leer, un saludo!</p>
</body>
</html>
